.idea
/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/.sbtserver
/project/target/
/target/
/build
/lib_managed
/*/**/*.sc
.sbtserver

# SBT Dockerfile-image generated
.ivy2
.sbt
.bash_history
.scala_history
.ssh
